/* Default Section */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

h1{
    color: #151414;
}

p{
    color: #444343;
}

/* Header Section */

.header{
    background-image: url(images/banner/banner2.png);
    text-align: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 10% 10% 60%;
}

.header-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 76px;
}

.header-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.button{
    font-size: 16px;
    font-weight: 600;
    
    background: #f15b22;
    border: none;
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 5px;
}

.button a{
    color: #ffffff;
    text-decoration: none;
}


/* Main Section */

main{
    margin: 0 auto;
    max-width: 1160px;
}


/* About Section */

.about {
    display: flex;
    margin: 60px 0px;
}

.about-title{
    font-size: 36px;
}

.about-description {
    margin: 20px 0;
}

.about-me {
    padding: 220px 60px;
}

.about-me ul > li {
    list-style: none;
    margin-bottom: 10px;
}

.about-me ul > li i {
    color: #0fbb73;
    margin-right: 8px;
}


/* My Plant Section */

.my-plans {
    margin: 60px 0;
    text-align: center;
}

.my-plans-section {
    display: flex;
    gap: 144px;
    margin-top: 60px;
}

.my-plans-title {
    font-size: 36px;
}

.my-plans-section h4 {
    font-size: 26px;
    margin-top: 14px;
}

.my-plans-sec h5 {
    font-size: 20px;
    font-weight: 500;
    color: #737272;
    margin-top: 8px;
}


/* Contact Section */
.contact-section {
    background-image: linear-gradient(to left, rgb(241 91 34 / 10%), #f15d227e), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 60px;
    margin: 100px 0;
}

.contact-title {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: -10px;
}

.contact-button{
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
    border: none;
    padding: 20px 35px;
    margin-top: 30px;
    border-radius: 5px;
}

.contact-button a{
    color: #f15b22;
    text-decoration: none;
}


/* Footer Section */

.footer{
    background-color: #151414;
    padding: 70px 170px;
    display: flex;
}

.footer-title{
    color: #ffffff;
    margin-bottom: 12px;
}

.footer-description {
    color: #ffffff;
    line-height: 16px;
    padding-right:60%;
}

.contact-details p{
    color: #ffffff;
    line-height: 16px;
    margin: 20px 0;
}

.social-icon {
    width: 36px;
    margin-right: 8px;
}

.subscribe-title{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 24px;
}

.email{
    background: transparent;
    padding: 18px 100px 18px 18px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.subscribe-button{
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
    border: none;
    padding: 20px 35px;
    margin-top: 10px;
    border-radius: 5px;
    color: #f15b22;
}

.subscribe-button a{
    text-decoration: none;
}